 <launch>
 
  <node pkg="tf" type="static_transform_publisher" name="foot_broadcaster"      args="0 0 0 0 0 0 /base_footprint /base_link 100" />  
 <param name="/use_sim_time" value="false"/>ros
  
 <include file="$(find slam_launch)/launch/hector_mapping.launch"/>
 
 <include file="$(find slam_launch)/launch/geotiff_mapper.launch">
 <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/> 
 </include>
 
 </launch>
