<launch>

<node pkg="map_server" type="map_server" name="detkin_map" args="/home/bobo/detkin2.yaml" />
<node pkg="amcl" type="amcl" name="amcl" >
    <param name="max_particles"  value="500"/>
    <param name="update_min_a" value="0.20943951023" />
</node>
<node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" />
<!-- <node pkg="rosserial_python" type="serial_node.py" name="connection_to_car" args="/dev/ttyACM1" /> -->
<node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster_nav"  args="0 0 0 0 0 0 /base_link /laser 100" />
<node pkg="tf" type="static_transform_publisher" name="foot_to_base_broadcasternav"  args="0 0 0 0 0 0 /base_footprint /base_link 100" />
<!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom_broadcaster_nav"  args="0 0 0 0 0 0 /map /odom 100" /> -->
<node pkg="mailcar_0" type="control_car_keyboard" name="car_controller" />
<node pkg="mailcar_0" type="encoder_to_odom" name="odomtf_publisher" />
<node pkg="rviz" type="rviz" name="rviz" 
args="-d $(find mailcar_0)/rviz_cfg/mailcar_nav_1.rviz"/>


<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <!-- <remap from="/base_scan" to="/pr2/Sick"/> -->
    <!-- <remap from="/cmd_vel" to="/pr2/Motion_Controller"/> -->
    <!-- <remap from="/odom" to="/pr2/Odometry"/> -->

    <param name="footprint_padding" value="0.01" />
    <param name="controller_frequency" value="10.0" />
    <param name="controller_patience" value="60.0" />
    <param name="planner_frequency" value="2.0" />

    <rosparam file="$(find mailcar_0)/launch/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mailcar_0)/launch/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mailcar_0)/launch/move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mailcar_0)/launch/move_base/global_costmap_params.yaml" command="load" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find mailcar_0)/launch/move_base/dwa_planner_ros.yaml" command="load" />
</node>
 
</launch>